body {
    line-height: 1.4;
    font-size: 18px !important;
    color: #080808;
    font-family: "Helvetica";
}

.with_bg {
    background: #FAFAFA;
}

.body_dims {
    margin: auto;
    max-width: 50em;
    padding: 20px;
    padding-top: 0;
}

.heading {
    vertical-align: middle;
}

img {
    width: 100%;
}

#heading > h1{
    display: inline-block;
    font-size: 40px;
}

#heading img {
    padding-right: 10px;
    vertical-align: middle;
    width: 100px;
}

.date {
    margin-top: 0;
    font-style: italic;
    font-size: 14px;
}

pre {
    overflow: auto;
}

a.heading {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}
